@import url("content/audio.css");
@import url("content/music.css");
@import url("content/software.css");

body {
    margin: 0;
    padding: 0;
    font-family: Andale Mono, monospace;
    background-color: #121212;
    color: #ffffff;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.3s ease;
}

.title-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #222;
    color: #fff;
    text-align: center;
    height: 10vh;
    font-size: 7.5vh;
}

.intro-blurb {
    text-align: center;
    font-size: 1.5em;
    margin-left: 2rem;
    margin-right: 2rem;
}

.category-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    user-select: none;
}

.category-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 30vw;
    cursor: pointer;
    aspect-ratio: 1/1;
}

.category-image {
    width: 80%;
    height: 80%;
    object-fit: contain; /* This will ensure the image scales nicely */
    margin: auto; /* This will center the image */
}

#music-image {
    margin-left: 5%;
}

.category-label {
    color: #ffffff;
    font-size: 5vw;
}

#expandedContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
}

#backButton {
    position: absolute;
    text-align: center;
    top: calc(2.5rem);
    left: 20px;
    width: 36px;
    font-size: 36px;
    
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;

    cursor: pointer;
    color: #fff;
    user-select: none;
    cursor: pointer;
    /* Set color to white */
}

.content {
    display: flex;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    height: calc(100% - 2rem);
    text-align: center;
}

.content-header {
    margin-left: 3rem;
}

.content-text {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.hidden {
    display: none;
}

/* Mobile */
@media (max-width: 1000px) {
    .title-bar {
        font-size: 5vh;
        margin-bottom: 3vh;
    }
}

@media (max-width: 700px) {
    body {
        overflow-y: auto;
    }

    .title-bar {
        font-size: 4vh;
        margin-bottom: 3vh;
    }

    .category-wrapper {
        flex-direction: column;
    }

    .category-button {
        width: 80%;
        height: 80%;
        margin-bottom: 10vw;
    }

    .category-label {
        font-size: 10vw;
    }

    .content {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .content-header {
        margin-left: 4rem;
    }
}

/* @media (max-width: 600px) {
    .title-bar {
        font-size: 4vh;
    }
} */