/* Album Grid Component Styles */
.album-grid {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-content: center;
    scrollbar-width: none;
    max-width: 100%;
}

.album-grid::-webkit-scrollbar {
    display: none;
}

.album-grid-item {
    position: relative;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px;
    background: transparent;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center;
    z-index: 1;
    justify-self: center;
}

.album-grid-item:hover {
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.album-grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.album-grid-item .item-info {
    position: absolute;
    user-select: none;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(32, 32, 35, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

.album-grid-item .artist {
    font-weight: bold;
}

.album-grid-item .role {
    font-size: 1rem;
}

.album-grid-item:hover .item-info {
    opacity: 1;
}

/* Mobile responsive */
@media (max-width: 700px) {
    .album-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
    .album-grid-item {
        max-width: 200px;
    }

    .album-grid-item:hover {
        transform: scale(1.03);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    .album-grid-item .item-info {
        font-size: .9rem;
    }

    .album-grid-item .role {
        font-size: 0.7rem;
    }
}