.music-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
    align-items: center;
    scrollbar-width: none;
}

.bio-music {
    font-size: 1.1rem;
    text-align: left;
}

.bio-music a {
    color: white;
}
